.title {
   text-align: center;
   margin-top: 18px;
   font-size: 18px;
       }


    .images {
    background-color: black;
    margin-left: 8px;
    height: 160px;
    color: white;
    font-size: 18px;  
    text-align: center;     
     }  

    .images figure {
 width: 10%;
 display: inline-block;
 margin-left: 5%;
    }


.sidebar_left {
    background-color: #7d0909;
    margin-left: 8px;
    margin-top: 2px;
    width: 205px;
    height: 400px;
    float: left;
    font-size: 18px;
    color: #e9390b;
    text-decoration: underline;

}
.sidebar_right {
    background-color: #e3dddd;
    margin-right: 1px;
    margin-top: 2px;
    width: 153px;
    height: 400px;
    float: right;
    font-size: 18px;
    color: black;


}

.aside_title {
    font-size: 18px;  
    text-align: center; 
    margin-top: 1px; 
    background-color: #bdbdbd;
}

.lorem {
    font-size: 18px;
    text-align: left;
    color: white;
}

.footer {
    background-color: #df5b11;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 270px;
}

